.curriculumSection {
  padding: 4rem 0;
}

.detailHeading {
  font-size: 35px;
  line-height: 45px;
  font-weight: 600;
}

.detailText {
  color: #43505b;
  line-height: 26px;
  font-weight: 400;
  font-size: 16px;
}

.curriculumAccordion {
  box-shadow: 0 2px 4px 2px #f3f3f3;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  border: 0 !important;
}

.curriculumAccordion .accordionItem {
  background: #fff;
  border: 0 !important;
  border-bottom: 1px solid #ddd !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  overflow: hidden;
  color: #000;
}

.curriculumAccordion .accordionItem:last-child {
  border-bottom: 0 !important;
}

.accordionItem .accordionHeader {
  margin-bottom: 0;
}

.accordionItem .accordionButton {
  color: #0a2134;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
}

.accordionItem .accordionButton::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(./down.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.accordionItem .accordionButton:not(.collapsed)::after {
  background-image: url(./down-active.svg);
  transform: rotate(-180deg);
}

.accordionItem:first-of-type .accordionButton {
  border-top-left-radius: calc(0.375rem - 1px);
  border-top-right-radius: calc(0.375rem - 1px);
}

.accordionItem .accordionButton:not(.collapsed) {
  color: #0a2134 !important;
  background-color: #f8f9fd !important;
  box-shadow: 0 2px 4px 2px #f3f3f3 !important;
}

.accordionCollapse {
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.accordionCollapse {
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out,
    max-height 0.2s ease-in-out;
  max-height: 0;
}

.accordionCollapse.show {
  max-height: unset;
  transform: scaleY(1);
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out,
    max-height 0.2s ease-in-out;
}

.accordionCollapse .accordionBody {
  padding: 1rem 1.25rem;
}

.accordionCollapse .accordionBody ul {
  display: flex;
  flex-wrap: wrap;
}

.accordionCollapse .accordionBody ul li {
  padding-left: 1.5rem !important;
  position: relative;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 26px !important;
  color: #43505b !important;
  margin-bottom: 8px !important;
  display: inline-block;
  width: 47%;
}

.accordionCollapse .accordionBody ul li::before {
  min-width: 6px;
  max-width: 6px;
  min-height: 6px;
  background-color: #2699fb;
  border-radius: 50%;
  content: "";
  display: block !important;
  position: absolute;
  left: 0;
  top: 10px;
}

.curriculumSection .batchBtn {
  color: #fff;
  background: #146cb7;
  border: 1px solid #146cb7;
  border-radius: 8px;
  opacity: 1 !important;
  font-weight: 500;
  font-size: 16px;
}
.curriculumSection .batchBtn:hover {
  color: #146cb7;
  background: #fff;
}

@media (max-width: 991px) {
  .curriculumSection {
    padding: 1.5rem 0;
  }

  .curriculumSection .headingContainer {
    width: 100% !important;
  }

  .detailHeading {
    font-size: 22px;
    line-height: 35px;
  }

  .accordionItem h3 {
    font-size: 19px !important;
  }

  .accordionItem .accordionButton {
    font-size: 15px;
    line-height: 25px;
  }

  .accordionCollapse .accordionBody ul li {
    display: block;
    width: 100% !important;
    font-size: 14px !important;
  }
}
